<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <display-name>@ProjectTarget@</display-name>

  <servlet>
    <servlet-name>Site</servlet-name>
    <servlet-class>gap.service.Servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Template</servlet-name>
    <servlet-class>gap.hapax.TemplateServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Person</servlet-name>
    <servlet-class>oso.data.PersonServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Site</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Template</servlet-name>
    <url-pattern>/templates/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/people/*</url-pattern>
  </servlet-mapping>


  <error-page>
    <error-code>400</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>417</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/errors.html</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/errors.html</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/_ah/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
