
body {
 background: #ffffff;
 color: #0066b3;
 margin: 40px 220px;
 font-family: verdana, helvetica, sans-serif;
 background-image: url("images/syn-circ-ffffff-0066b3-170x170.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: 1% 1%;
}
a {
 text-decoration: none;
}
a:link {
 color: #0056b3;
}
a:visited {
 color: #0056b3;
}
a:hover {
 color: #1066b3;
}
div.text {
 width: 700px;
 margin-left: 20px;
 margin-right: 20px;
}
table.overview {
 margin-left: 10%;
 margin-right: 0;
 width: 90%;
 border: none;
}
